<div id="<%= dom_id article_category %>">
  <p>
    <strong>Article:</strong>
    <%= article_category.article_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= article_category.category_id %>
  </p>

</div>
